* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


/* Utilities */

.container {
    max-width: 80%;
    margin: 0 auto;
}

#grid {
    height: 800px;
    width: 800px;
    border: 1px solid black;
    margin: 100px auto;
    display: none;
    flex-wrap: wrap;
}

#grid .cell {
    border: 1px solid black;
    cursor: pointer;
}

.clicked {
    background-color: dodgerblue;
}